extends _pug-includes/layout-login

block content
    .container-fluid.px-0
        .row.gx-0.min-vh-100
            .col-md-9.col-lg-6.col-xl-4.px-5.d-flex.align-items-center.shadow
                .w-100.py-5
                    .text-center
                        img.img-fluid.mb-4(src='img/brand/brand-1.svg', alt='...', style='max-width: 6rem;')            
                        h1.h4.text-uppercase.mb-3 Register
                    p.text-muted.text-sm.mb-4 #{dummyText[1]}
                    form(method="get", action="index.html")
                        .mb-3
                            label.form-label(for="registerUsername") Username                
                            input.form-control#registerUsername(type="text", name="registerUsername", required)
                        .mb-4
                            label.form-label(for="registerEmail") Email Address
                            input.form-control#registerEmail(type='email', name="registerEmail", required)
                        .mb-4
                            label.form-label(for="registerPassword") Password
                            input.form-control#registerPassword(type='password', name="registerPassword", required)                          
                        .form-check.mb-4
                            input#registerAgree.form-check-input.me-2(type='checkbox' value='')
                            label.form-check-label(for='registerAgree') I agree with the terms and policy                          

                        // Submit
                        .d-grid.mb-5
                            button.btn.btn-primary.text-uppercase Register

                        // Link
                        p.text-center
                            small.text-muted.text-center
                                | Already have an account? 
                                a(href='login-2.html') Log in
                                | .
                   
            .col-md-3.col-lg-6.col-xl-8.d-none.d-md-block
                // Image
                .bg-cover.h-100.me-n3(style='background-image: url(img/photos/victor-ene-1301123-unsplash.jpg);')