- tickets = []
- tickets.push({title: 'License not recieved', department: 'Support', updated: '4 hours ago', updated2: '4', updated2Subtitle: 'days'})
- tickets.push({title: 'BSOD again', department: 'IT', updated: 'yesterday', updated2: '4', updated2Subtitle: 'days'})
- tickets.push({title: 'Wrong Invoice', department: 'Accounting', updated: 'yesterday', updated2: '4', updated2Subtitle: 'days'})
- tickets.push({title: 'Asking for a refund', department: 'Support', updated: '3 hours ago', updated2: '4', updated2Subtitle: 'days'})
- tickets.push({title: 'License not recieved', department: 'Support', updated: '4 hours ago', updated2: '4', updated2Subtitle: 'days'})
- tickets.push({title: 'BSOD again', department: 'IT', updated: 'yesterday', updated2: '4', updated2Substitle: 'days'})
- tickets.push({title: 'Asking for a refund', department: 'Support', updated: '3 hours ago', updated2: '4', updated2Subtitle: 'days'})
- tickets.push({title: 'License not recieved', department: 'Support', updated: '4 hours ago', updated2: '4', updated2Subtitle: 'days'})