.card.position-relative.py-5.overflow-hidden
    img.bg-image(src=`${path}img/photos/sorasak-_UIN-pFfJ7c-unsplash.jpg`, alt="")
    .card-body.text-center.position-relative 
        h3.text-white.text-uppercase.mb-0 I have a background image