- var categories = []
- categories.push({name: 'Gear', count: 23})
- categories.push({name: 'Stories', count: 2})
- categories.push({name: 'Tips & Tricks', count: 4})
- categories.push({name: 'Trips', count: 5})
- categories.push({name: 'Gear', count: 23})
- categories.push({name: 'Stories', count: 2})
- categories.push({name: 'Tips & Tricks', count: 4})
- categories.push({name: 'Trips', count: 5})
- categories.push({name: 'Uncategorized', count: 2})

- var categoryCount = categories.length;

- var images = ['soroush-zargar-zFSUhqGual8-unsplash.jpg', 'faruk-kaymak-CNVvDjVDiVI-unsplash.jpg',  'aron-visuals-3jBU9TbKW7o-unsplash.jpg', 'elizabeth-gottwald-dnIWYrliZfU-unsplash.jpg',  'willian-justen-de-vasconcellos-4hMET7vYTAQ-unsplash.jpg', 'sorasak-_UIN-pFfJ7c-unsplash.jpg', 'montylov-ktZZiHb-GoI-unsplash.jpg', 'joseph-barrientos-Ji_G7Bu1MoM-unsplash.jpg', 'henrique-ferreira-RKsLQoSnuTc-unsplash.jpg','luca-bravo-O453M2Liufs-unsplash.jpg', 'mesut-kaya-eOcyhe5-9sQ-unsplash.jpg', 'stefan-stefancik-0wMmxNB6Xzc-unsplash.jpg']

- var imageCount = images.length; 