- badges = []
- badges.push({title: 'Open', priority: 'Medium', badgeClass: 'badge-success-light'})
- badges.push({title: 'Closed', priority: 'High', badgeClass: 'badge-danger-light'})
- badges.push({title: 'On Hold', priority: 'Low', badgeClass: 'badge-warning-light'})
- badges.push({title: 'In Progress', priority: 'New', badgeClass: 'badge-info-light'})